@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: nunito;
    src: url("@/assets/fonts/Nunito-VariableFont_wght.ttf");
}

body {
    background-color: #f2f7f2;
    font-family: nunito;
}

.fade-enter-active,
.fade-leave-active {
    transition: .25s;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}